<ion-header>
  <ion-navbar color="secondary">
    <ion-title>Clientes</ion-title>
    <ion-buttons end>
      <button ion-button clear icon-only (click)="cancel()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar>
    <ion-searchbar (ionInput)="search()" [(ngModel)]="query"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content no-padding>
  <ion-list>
    <button ion-item (click)="select(cliente)" *ngFor="let cliente of clientes.data">
      <ion-thumbnail item-left xngIf="cliente.image">
        <img [src]="cliente.foto_url">
      </ion-thumbnail>
      <h2 text-wrap>{{cliente.nombres}}
        <span *ngIf="cliente.apellidos">{{cliente.apellidos}}</span>
      </h2>
      <h3 text-wrap [innerHTML]="cliente.nit"></h3>
    </button>
  </ion-list>
  <ion-fab bottom right>
    <button ion-fab (click)="addCliente()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
