page-list {}

.punto {
  width: 210pt !important;
  margin: 0;
  padding: 0;
}

.pos-items {
  font-size: smaller;
}

.separator {
  border: .4px solid black;
  min-width: 200pt;
  width: 200pt;
  text-align: center;
}
