<ion-header>
  <ion-navbar color="secondary">
    <ion-title>Productos</ion-title>
    <ion-buttons end>
      <button ion-button clear icon-only (click)="cancel()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar>
    <ion-searchbar #searchbar (ionInput)="search()" [(ngModel)]="query"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content no-padding>
  <ion-list>
    <button ion-item (click)="select(product)" *ngFor="let product of products.data">
      <ion-thumbnail item-left *ngIf="product.image">
        <img [src]="product.image.url">
      </ion-thumbnail>
      <h2 text-wrap>{{product.name}}</h2>
      <small>{{product.referencia}}</small>
      <h2 text-center>{{product.precio | currency:'USD':true:'1.2-2'}}</h2>
      <h3 text-wrap [innerHTML]="product.description"></h3>
    </button>
  </ion-list>
</ion-content>
