<ion-content>

  <div *ngIf="api.settings_invoices.tipo_impresion != 'pos'" class="printable" id="toPrint">
    <div class="invoice-box" style="max-width: 800px;margin: auto;padding: 30px;border: 1px solid #eee;box-shadow: 0 0 10px rgba(0, 0, 0, .15);font-size: 16px;line-height: 24px;font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;color: #555;">
      <table cellpadding="0" cellspacing="0" style="width: 100%;line-height: inherit;text-align: left;">

        <tr class="top">
          <td colspan="6" style="padding: 5px;vertical-align: top;">
            <table style="width: 100%;line-height: inherit;text-align: left;">
              <tr>
                <td colspan="3" class="title" style="padding: 5px;vertical-align: top;padding-bottom: 20px;font-size: 45px;line-height: 45px;color: #333;">
                  <img *ngIf="!api.settings_invoices.imagen" [src]="api.url + 'img/logo.png'" style="max-height:100px; max-width:100px;">

                  <img *ngIf="api.settings_invoices.imagen" [src]="api.settings_invoices.imagen" style="max-height:100px; max-width:100px;">
                </td>
                <td style="padding: 5px;vertical-align: top;text-align: right;padding-bottom: 20px;width:100%">
                  {{'Factura' }} #: {{invoice.numero }}
                  <br>
                  <span *ngIf="!pagos">{{ 'Metodo de Pago'}}: {{ invoice.pago }}</span>
                  <br> {{ 'Fecha' }}: {{invoice.fecha | amDateFormat:'LLL'}}
                  <br> {{ 'Del:' }} {{ invoice.created_at | amDateFormat:'LLL'}}
                </td>
              </tr>
            </table>
          </td>
        </tr>

        <tr class="information">
          <td colspan="6" style="padding: 5px;vertical-align: top;">
            <table style="width: 100%;line-height: inherit;text-align: left;">
              <tr>
                <td style="padding: 5px;vertical-align: top;padding-bottom: 40px;">
                  {{api.settings_invoices.nombre? api.settings_invoices.nombre : api.settings.nombre_empresa}}
                  <br> {{ api.settings_invoices.nit ? api.settings_invoices.nit : api.settings.nit}}
                  <br> {{api.settings_invoices.resolucion? api.settings_invoices.resolucion : api.settings.resolucion_dian}}
                  <br> {{api.settings_invoices.cabecera ? api.settings_invoices.cabecera: api.settings.cabecera_factura}}
                </td>
                <td style="padding: 5px;vertical-align: top;padding-bottom: 40px;">
                </td>
                <td style="padding: 5px;vertical-align: top;padding-bottom: 40px;">
                </td>
                <td *ngIf="invoice.cliente" style="padding: 5px;vertical-align: top;text-align: right;padding-bottom: 40px;">
                  {{ invoice.cliente.full_name }}
                  <br> {{ invoice.cliente.nit }}
                  <br> {{ invoice.cliente.email }}
                  <br>
                  <span *ngIf="invoice.receipt">
                    {{ 'Estado' }}: {{ ( invoice.estado ) }}
                  </span>
                  <div *ngIf="pagos">
                    {{'Pagos'}}:
                    <span *ngFor="let pag of pagos">
                      <br> {{ pag.metodo }}: {{pag.monto | floor | currency:'USD':true:'1.2-2'}}
                    </span>
                  </div>
                </td>
              </tr>
            </table>
          </td>
        </tr>

        <!-- <tr class="heading">
        <td style="padding: 5px;vertical-align: top;text-align: right;background: #eee;border-bottom: 1px solid #ddd;font-weight: bold;">
        </td>
        <td style="padding: 5px;vertical-align: top;text-align: right;background: #eee;border-bottom: 1px solid #ddd;font-weight: bold;">
        </td>
        <td style="padding: 5px;vertical-align: top;background: #eee;border-bottom: 1px solid #ddd;font-weight: bold;">
        </td>
      </tr> -->

        <!-- Heading Items -->
        <tr class="heading">
          <td style="text-align:center;padding: 5px;vertical-align: top;background: #eee;border-bottom: 1px solid #ddd;font-weight: bold;">
            {{'Item' }}
          </td>

          <td style="text-align:center;padding: 5px;vertical-align: top;background: #eee;border-bottom: 1px solid #ddd;font-weight: bold;">
            {{'Cantidad' }}
          </td>
          <td style="text-align:center; padding: 5px;vertical-align: top;background: #eee;border-bottom: 1px solid #ddd;font-weight: bold;">
            {{'Precio' }}
          </td>
          <td style="text-align:center; padding: 5px;vertical-align: top;background: #eee;border-bottom: 1px solid #ddd;font-weight: bold;">
            {{'Impuesto' }}
          </td>

          <td style="text-align:center; padding: 5px;vertical-align: top;background: #eee;border-bottom: 1px solid #ddd;font-weight: bold;">
            {{'Descuento' }}
          </td>

          <td style="text-align:center;padding: 5px;vertical-align: top;background: #eee;border-bottom: 1px solid #ddd;font-weight: bold;">
            {{'SubTotal' }}
          </td>
        </tr>

        <!-- Items -->
        <tr class="item last" *ngFor="let item of invoice.items">
          <td style="padding: 5px;vertical-align: top;border-bottom: none;">
            {{item.name}}
            <span *ngIf="item.referencias">({{item.referencia}})</span>
          </td>
          <td style="padding: 5px;vertical-align: top;border-bottom: none;">
            {{item.cantidad}}
          </td>

          <td style="padding: 5px;vertical-align: top;text-align: center;border-bottom: none;">
            {{ item.precio | floor | currency:'USD':true:'1.2-2' }}
          </td>
          <td style="padding: 5px;vertical-align: top;text-align: center;border-bottom: none;">
            {{ item.impuesto }} %
          </td>

          <td style="padding: 5px;vertical-align: top;text-align: center;border-bottom: none;">
            {{ item.descuento | floor | currency:'USD':true:'1.2-2' }}
          </td>

          <td style="padding: 5px;vertical-align: top;text-align: center;border-bottom: none;">
            {{(item.total) | floor | currency:'USD':true:'1.2-2' }}
          </td>
        </tr>

        <tr class="descuento">
          <td style="padding: 5px;vertical-align: top;"></td>
          <td style="padding: 5px;vertical-align: top;"></td>
          <td style="padding: 5px;vertical-align: top;"></td>
          <td style="padding: 5px;vertical-align: top;"></td>
          <td style="padding: 5px;vertical-align: top;text-align: center;border-top: 2px solid #eee;font-weight: bold;">
            Descuento:
          </td>
          <td style="padding: 5px;vertical-align: top; text-align: center;border-top: 2px solid #eee;font-weight: bold;">
            {{ invoice.descuento | floor | currency:'USD':true:'1.2-2' }}
          </td>
        </tr>
        <!-- Total -->
        <tr class="total">
          <td style="padding: 5px;vertical-align: top;"></td>
          <td style="padding: 5px;vertical-align: top;"></td>
          <td style="padding: 5px;vertical-align: top;"></td>
          <td style="padding: 5px;vertical-align: top;"></td>
          <td style="padding: 5px;vertical-align: top;text-align: center;border-top: 2px solid #eee;font-weight: bold;">
            Total:

          </td>
          <td style="padding: 5px;vertical-align: top; text-align: center;border-top: 2px solid #eee;font-weight: bold;">
            {{ invoice.total | floor | currency:'USD':true:'1.2-2' }}
          </td>
        </tr>

      </table>
    </div>
  </div>

  <div *ngIf="api.settings_invoices.tipo_impresion == 'pos'" class="printable punto" id="toPrintMini">
    <div text-center>
      <img *ngIf="api.settings_invoices.imagen" [src]="api.settings_invoices.imagen" style="max-height:60pt; max-width:60pt;">
    </div>
    <h3 text-center no-margin>
      {{api.settings_invoices.nombre? api.settings_invoices.nombre : api.settings.nombre_empresa}}
    </h3>
    <h6 text-center no-margin>
      NIT: {{api.settings_invoices.nit? api.settings_invoices.nit : api.settings.nit}}
    </h6>
    <p text-center no-margin>
      {{api.settings_invoices.direccion? api.settings_invoices.direccion : api.settings.direccion }}
    </p>
    <p text-center no-margin>
      {{api.settings_invoices.cabecera? api.settings_invoices.cabecera : api.settings.cabecera_factura }}
    </p>
    <br>
    <p no-margin>
      <b>
        Factura No. {{invoice.numero }}
      </b>
    </p>
    <p no-margin>
      Fecha: {{invoice.created_at | amDateFormat:'DD MMMM YYYY - h:mm a'}}
    </p>
    <p no-margin>
      <b>
        Empleado:
      </b>
      <span *ngIf="invoice.user">{{invoice.user.full_name}}</span>
      <span *ngIf="!invoice.user">{{ api.user.full_name }}</span>
    </p>
    <p *ngIf="invoice.pago" no-margin>
      <b>
        Pago:
      </b>
      <span *ngIf="!pagos;else pagossmall">
        {{ invoice.pago }}
      </span>
      <ng-template #pagossmall>
        <span *ngFor="let pag of pagos">
          {{ pag.metodo }}: {{pag.monto | number:'1.2-2'}}
          <br>
        </span>
      </ng-template>
    </p>
    <br>
    <div class="separator"></div>
    <table style="width:100%">
      <thead>
        <tr text-center>
          <th>Cant</th>
          <th>Item</th>
          <th>Precio</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody text-center class="pos-items">
        <tr *ngFor="let item of items">
          <td>{{ item.cantidad }}</td>
          <td style="width:50pt">{{item.name}}</td>
          <td>{{item.precio | number: '1.2-2'}}</td>
          <td>{{item.subtotal | number: '1.2-2' }}</td>
        </tr>
      </tbody>
    </table>
    <div class="separator"></div>
    <br>
    <div text-left>
      <b>Subtotal:</b> {{ subtotal | number: '1.2-2'}}
      <br>
      <span *ngIf="propina > 0">
        <b>Propina:</b> {{ propina | number: '1.2-2'}}
      </span>
    </div>
    <h5 text-center> Detalles de Impuestos:</h5>
    <p *ngIf="iva > 0" no-margin>
      <b>IVA</b> {{ iva | number: '1.2-2'}}
    </p>
    <p *ngIf="impoconsumo >0" no-margin>
      <b>Impoconsumo</b> {{ impoconsumo | number: '1.2-2'}}
    </p>
    <p *ngIf="impoconsumo > 0 && iva > 0" no-margin>
      <b>Total Imp.</b> {{ impoconsumo + iva | number: '1.2-2' }}
    </p>
    <br>
    <div class="separator"></div>
    <table style="width:100%">
      <tr>
        <th> Descuento:</th>
        <th> {{ invoice.descuento | number: '1.2-2'}} </th>
      </tr>
      <tr>
        <th> Total:</th>
        <th> {{ invoice.total | number: '1.2-2'}} </th>
      </tr>
    </table>
    <br>
    <div *ngIf="invoice.cliente && invoice.cliente.id != 99">
      Cliente: {{ invoice.cliente.full_name }}
      <br> NIT: {{ invoice.cliente.nit }}
      <span *ngIf="invoice.cliente.telefono">
        <br> Telefono: {{invoice.cliente.telefono}}</span>
    </div>
    <div *ngIf="!(invoice.cliente && invoice.cliente.id != 99)">
      Cliente: _______________________________
      <br> NIT: ______________________________
      <span>
        <br> Telefono: ___________________
      </span>
    </div>
    <br>
    <br>
    <span>
      {{api.settings_invoices.resolucion? api.settings_invoices.resolucion : api.settings.resolucion_dian}}
    </span>
    <br>
    <div text-wrap text-justify style="font-size:smaller;">
      {{api.settings_invoices.pie? api.settings_invoices.pie : api.settings.pie_factura }}
    </div>
  </div>
</ion-content>
